In [1]:
from rs_graph.modeling import predict_author_dev_matches

eva_github = {
    "username": "evamaxfield",
    "name": "Eva Maxfield Brown",
    "email": "None",
}
eva_author = {
    "name": "Eva Maxfield Brown",
}
nic_github = {
    "username": "nniiicc",
    "name": "Nic Weber",
    "email": "None",
}

predictions = predict_author_dev_matches(
    [eva_github, nic_github],
    [eva_author, eva_author],
)
predictions

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

['match', 'no-match']

In [2]:
import pandas as pd
from tqdm import tqdm

from rs_graph.data import (
    load_author_contributions_dataset,
    load_repo_contributors_dataset,
)

# Load the two datasets
devs = load_repo_contributors_dataset()
authors = load_author_contributions_dataset().sample(100)

print(devs.shape)
print(authors.shape)

(15731, 8)
(100, 4)

In [3]:
processed_authors = []
repo_to_author_id_lut = {}
for _, author in authors.iterrows():
    repos = [c["repo"] for c in author.contributions]

    for repo in repos:
        if repo not in repo_to_author_id_lut:
            repo_to_author_id_lut[repo] = []

        repo_to_author_id_lut[repo].append(author.author_id)

    processed_authors.append({
        "name": author["name"],
        "author_id": author.author_id,
    })

processed_authors = pd.DataFrame(processed_authors)
processed_authors.sample(3)

             name author_id
96   D. Larremore   2900564
73  E. Toyserkani   1714046
28      M. Dobias  46362392

In [4]:
# Create dataframe of dev username, name, email, repos, and co_contributors
processed_devs = []
repo_to_dev_lut = {}
for dev, group in devs.groupby("username"):
    repos = group["repo"].tolist()

    for repo in repos:
        if repo not in repo_to_dev_lut:
            repo_to_dev_lut[repo] = []

        repo_to_dev_lut[repo].append(dev)

    processed_devs.append({
        "username": dev,
        "name": group.iloc[0]["name"],
        "email": group.iloc[0]["email"],
    })

processed_devs = pd.DataFrame(processed_devs)
processed_devs.sample(3)

          username          name email
121      AlexMikes          None  None
11437  wouterpeere  Wouter Peere  None
6018     hudajkhan          None  None

In [5]:
# Create comparison dataframe of devs and authors in the same repo
repo_and_dev_author_comparisons = []
for repo, dev_usernames in tqdm(repo_to_dev_lut.items()):
    if repo not in repo_to_author_id_lut:
        continue

    author_ids = repo_to_author_id_lut[repo]

    for dev_username in dev_usernames:
        for author_id in author_ids:
            dev_details = processed_devs.loc[
                processed_devs["username"] == dev_username
            ].iloc[0].to_dict()
            author_details = processed_authors.loc[
                processed_authors["author_id"] == author_id
            ].iloc[0].to_dict()

            # Append
            repo_and_dev_author_comparisons.append({
                "repo": repo,
                "dev_details": dev_details,
                "author_details": author_details,
            })

repo_and_dev_author_comparisons = pd.DataFrame(repo_and_dev_author_comparisons)
repo_and_dev_author_comparisons.sample(3)

100%|██████████| 2610/2610 [00:00<00:00, 2667.21it/s]

,repo,dev_details,author_details
206,https://github.com/resibots/limbo,"{'username': 'chrismile', 'name': 'Christoph N...","{'name': 'Federico Allocati', 'author_id': '75..."
691,https://github.com/ornladios/ADIOS2,"{'username': 'philip-davis', 'name': 'Philip D...","{'name': 'Keichi Takahashi', 'author_id': '193..."
57,https://github.com/michellab/BioSimSpace,"{'username': 'msuruzhon', 'name': 'Miroslav Su...","{'name': 'F. Gervasio', 'author_id': '2407694'}"

In [7]:
repo_and_dev_author_comparisons["predictions"] = predict_author_dev_matches(
    repo_and_dev_author_comparisons["dev_details"].tolist(),
    repo_and_dev_author_comparisons["author_details"].tolist(),
)
repo_and_dev_author_comparisons["predictions"].value_counts()

Batches:   0%|          | 0/32 [00:00<?, ?it/s]

Batches:   0%|          | 0/32 [00:00<?, ?it/s]

Batches:   0%|          | 0/32 [00:00<?, ?it/s]

Batches:   0%|          | 0/32 [00:00<?, ?it/s]

Batches:   0%|          | 0/32 [00:00<?, ?it/s]

Batches:   0%|          | 0/32 [00:00<?, ?it/s]

no-match    968
match        56
Name: predictions, dtype: int64

In [8]:
repo_and_dev_author_comparisons.loc[
    repo_and_dev_author_comparisons.predictions == "match"
][["dev_details", "author_details"]]

,dev_details,author_details
158,"{'username': 'tonielgeitani', 'name': 'Toni El...","{'name': 'Toni El Geitani', 'author_id': '2006..."
162,"{'username': 'bryanlimy', 'name': 'Bryan M. Li...","{'name': 'Bryan M. Li', 'author_id': '48218631'}"
167,"{'username': 'AnBucquet', 'name': 'BUCQUET Ant...","{'name': 'Anthime Bucquet', 'author_id': '1999..."
198,"{'username': 'PacoCosta', 'name': 'Francisco C...","{'name': 'Francisco Costa', 'author_id': '2150..."
209,"{'username': 'fedeallocati', 'name': 'Federico...","{'name': 'Federico Allocati', 'author_id': '75..."
260,"{'username': 'steven-murray', 'name': 'Steven ...","{'name': 'S. Murray', 'author_id': '47426998'}"
271,"{'username': 'Garyfallidis', 'name': 'Elefther...","{'name': 'Eleftherios Garyfallidis', 'author_i..."
299,"{'username': 'CKrawczyk', 'name': 'Coleman Kra...","{'name': 'Coleman Krawczyk', 'author_id': '984..."
320,"{'username': 'Carlitosh', 'name': 'Carlos Hern...","{'name': 'Carlos H. Hernandez', 'author_id': '..."
351,"{'username': 'emdupre', 'name': 'Elizabeth DuP...","{'name': 'E. Dupre', 'author_id': '33660027'}"
393,"{'username': 'eitanlees', 'name': 'Eitan Lees'...","{'name': 'Eitan Lees', 'author_id': '40066914'}"
419,"{'username': 'apizzuto', 'name': 'Alex Pizzuto...","{'name': 'A. Pizzuto', 'author_id': '77040484'}"
442,"{'username': 'farr', 'name': 'Will Meierjurgen...","{'name': 'W. Farr', 'author_id': '3305699'}"
476,"{'username': 'jeremiecoullon', 'name': 'Jeremi...","{'name': 'Jeremie Coullon', 'author_id': '1418..."
481,"{'username': 'QuayAu', 'name': 'Quay', 'email'...","{'name': 'Quay Au', 'author_id': '51306278'}"
524,"{'username': 'lucateo', 'name': 'Luca Teodori'...","{'name': 'L. Teodori', 'author_id': '1478322572'}"
554,"{'username': 'emdupre', 'name': 'Elizabeth DuP...","{'name': 'E. Dupre', 'author_id': '33660027'}"
592,"{'username': 'kyleam', 'name': 'Kyle Meyer', '...","{'name': 'Kyle Meyer', 'author_id': '46362843'}"
604,"{'username': 'Tobias-Dwyer', 'name': None, 'em...","{'name': 'Tobias Dwyer', 'author_id': '1447242..."
622,"{'username': 'LeoDutriaux', 'name': 'LeoDutria...","{'name': 'Léo Dutriaux', 'author_id': '46734551'}"
630,"{'username': 'girgink', 'name': 'Serkan Girgin...","{'name': 'S. Girgin', 'author_id': '101605936'}"
634,"{'username': 'GiggleLiu', 'name': 'Jinguo Liu ...","{'name': 'Jin-Guo Liu', 'author_id': '22538203..."
687,"{'username': 'keichi', 'name': 'Keichi Takahas...","{'name': 'Keichi Takahashi', 'author_id': '193..."
728,"{'username': 'Robinlovelace', 'name': 'Robin L...","{'name': 'R. Lovelace', 'author_id': '11788482'}"
757,"{'username': 'Robinlovelace', 'name': 'Robin L...","{'name': 'R. Lovelace', 'author_id': '11788482'}"
778,"{'username': 'steven-murray', 'name': 'Steven ...","{'name': 'S. Murray', 'author_id': '47426998'}"
783,"{'username': 'rikhuijzer', 'name': 'Rik Huijze...","{'name': 'Rik Huijzer', 'author_id': '21620995..."
788,"{'username': 'dandls', 'name': 'Susanne Dandl'...","{'name': 'Susanne Dandl', 'author_id': '148030..."
792,"{'username': 'PabRod', 'name': 'Pablo Rodrígue...","{'name': 'Pablo Rodríguez-Sánchez', 'author_id..."
795,"{'username': 'Pakillo', 'name': 'Francisco Rod...","{'name': 'Francisco J. Rodríguez-Sanchez', 'au..."
811,"{'username': 'PaulSt', 'name': 'Paul Stocker',...","{'name': 'P. Stocker', 'author_id': '2067428685'}"
820,"{'username': 'Robinlovelace', 'name': 'Robin L...","{'name': 'R. Lovelace', 'author_id': '11788482'}"
843,"{'username': 'soraxas', 'name': 'Tin Lai', 'em...","{'name': 'Tin Lai', 'author_id': '121502726'}"
844,"{'username': 'ShanaScogin', 'name': 'Shana Sco...","{'name': 'Shana Scogin', 'author_id': '1396914..."
846,"{'username': 'ShanaScogin', 'name': 'Shana Sco...","{'name': 'Shana Scogin', 'author_id': '1396914..."
863,"{'username': 'rushk014', 'name': 'Rush Kapoor'...","{'name': 'Rush Kapoor', 'author_id': '21498598..."
883,"{'username': 'kburns', 'name': 'Keaton J. Burn...","{'name': 'K. Burns', 'author_id': '31517157'}"
885,"{'username': 'epiben', 'name': 'Benjamin Skov ...","{'name': 'B. S. Kaas-Hansen', 'author_id': '14..."
886,"{'username': 'ahasverus', 'name': 'Nicolas Cas...","{'name': 'Nicolas Casajus', 'author_id': '5153..."
895,"{'username': 'steven-murray', 'name': 'Steven ...","{'name': 'S. Murray', 'author_id': '47426998'}"
906,"{'username': 'schneiderpy', 'name': 'Andreas S...","{'name': 'Andreas Schneider', 'author_id': '22..."
917,"{'username': 'nandaloo', 'name': 'Philipp Luca...","{'name': 'P. Lucas', 'author_id': '2056434717'}"
921,"{'username': 'rkern', 'name': 'Robert Kern', '...","{'name': 'Steven J. Kern', 'author_id': '42315..."
922,"{'username': 'stevenjkern', 'name': 'Steven Ke...","{'name': 'Steven J. Kern', 'author_id': '42315..."
924,"{'username': 'hrossman', 'name': 'Hagai_Rossma...","{'name': 'H. Rossman', 'author_id': '1482559324'}"
945,"{'username': 'cchrisnguyen', 'name': 'Chris Ng...","{'name': 'Christel Nguyen', 'author_id': '1443..."
956,"{'username': 'parkerclayton', 'name': 'Parker ...","{'name': 'Parker Clayton', 'author_id': '13810..."
969,"{'username': 'dblarremore', 'name': 'Daniel La...","{'name': 'D. Larremore', 'author_id': '2900564'}"
980,"{'username': 'isaacna', 'name': 'Isaac Na', 'e...","{'name': 'Isaac Na', 'author_id': '2142953146'}"
998,"{'username': 'emptyewer', 'name': 'Venkatraman...","{'name': 'V. Krishnamani', 'author_id': '65976..."
1004,"{'username': 'jcsutherland', 'name': 'James Su...","{'name': 'J. Sutherland', 'author_id': '145234..."
1008,"{'username': 'jdrugo', 'name': 'Jan Drugowitsc...","{'name': 'Jan Drugowitsch', 'author_id': '2980..."
1012,"{'username': 'pvarvia', 'name': 'Petri Varvia'...","{'name': 'P. Varvia', 'author_id': '31255799'}"
1014,"{'username': 'mrsonandrade', 'name': 'Emerson ...","{'name': 'Emerson Martins de Andrade', 'author..."
1020,"{'username': 'stu2', 'name': 'Stuart Archer', ...","{'name': 'S. Archer', 'author_id': '3525784'}"
1021,"{'username': 'pnsaevik', 'name': 'Pål Næverlid...","{'name': 'P. N. Sævik', 'author_id': '97690732'}"